body {
    background-color: green;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

h1 {
    font-size:xxx-large;
    color: goldenrod;
}

#message-el {
    font-size: larger;
    font-style: italic;
    
}
